<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body>
    <div id="wrapper">
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="credits.html">Credits</a></li>
                </ul>
            </nav>
            <div id="logoDiv">
                <div class="heroImg rotate-center">
                    <div class="rotate-center-reverse">
                        <svg id="goldenRatio"   viewBox="0 0 75 135" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;">
                            <g transform="matrix(1,0,0,1,-382.5,-127.5)">
                                <path d="M420,135L420,255M420,135C436.458,135 450,148.542 450,165C450,181.458 436.458,195 420,195C403.542,195 390,181.458 390,165" style="fill:none;fill-rule:nonzero;stroke:rgb(10,10,10);stroke-width:15px;"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <h1><span class="blue">Grim</span><span class="green">moire</span></h1>
        </header>
    <div class="main-content">
      {%include "components/notegrowthhistory.njk"%}
      <div class="content">
        {%- for garden in collections.gardenEntry -%}
          {{garden.templateContent | safe }}
        {%- endfor -%}
      </div>
    </div>
    </div>
  </body>
</html>